# This is a comment.

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @default-owner

# Order is important. The last matching pattern has the most precedence.

# To set ownership of a particular folder, add a line like this:
/docs/          @documentation-team

# To set ownership of all .js files in the src/js/ directory, add a line like this:
/src/js/*.js    @js-developers

# You can also specify individual users. This will make @octocat the owner of any .md files at the root of the repository:
/*.md           @octocat

# In this example, @doctocat owns any files in the /apps/ directory and any of its subdirectories.
/apps/          @doctocat

# The `@backend-team` team owns any files in the `/api/` directory in the root of your repository and any of its subdirectories.
/api/           @backend-team

# The `@frontend-team` team owns any files in the `/web/` directory in the root of your repository and any of its subdirectories.
/web/           @frontend-team

# Add this line at the end of the file to always require pull request reviews
# when someone on the team is not an owner and the pull request modifies code owned by the team.
*       @global-owner
